/**
 * posts
 */
.et_divi_builder #et_builder_outer_content .et_pb_section .et_pb_posts .et_pb_posts_inner .posts-list .post-single {
	overflow: hidden;
	margin-bottom: 15px;
}
.et_divi_builder #et_builder_outer_content .et_pb_section .et_pb_posts .et_pb_posts_inner .posts-list .post-single .thumbnail img {
	float: left;
	width: 33.333333333%;
	margin-right: 2%;
}
.et_divi_builder #et_builder_outer_content .et_pb_section .et_pb_posts .et_pb_posts_inner .posts-list .post-single .title {
	display: inline-block;
}